<h1>Word Puzzle</h1>
  <form action='/detector' method='get'>
  <div class="form-group">
    <label for="userString">Enter Something</label>
    <input id="userString" name="userString" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Enter</button>
</form>
